.style-select-pecelpagi {
    position: relative;
}

.style-select-pecelpagi:before {
    content: "V";
    position: absolute;
    right: 4px;
    top: 50%;
    background: #fdfdfd;
    z-index: 0;
    pointer-events: none;
    width: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

.style-select-pecelpagi select {
    -webkit-appearance: none;
}